@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #fff;
}

.title-bar h1, .title-bar h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
    color: #fff;
}


p {
    margin: 10px 0;
    text-align: justify;
}

img {
    width: 100%;
}

.title-bar {
    background-color: rgb(10, 0, 56);
    padding: 20px 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 25% 75%;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

.navbar {
    background-color: #0a0038;
    line-height: 1.6;
    overflow: auto;
    font-variant: small-caps;
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    display: inline-block;
    color: #fff;
    padding: 20px 30px;
    width: 100%;
    font-size: 20px;
    transition: transform .2s ease-out;
}

.navbar a:hover {
    background-color: #13006b;
    transform: scale(1.05);
    cursor: hover;
}

#content {
    padding: 0 20px;
}

#content h1 {
    color: #333;
    padding: 20px 20px;
    font-size: 32px;
}

#content .face-img {
    width: 250px;
    display: inline;
    float: left;
    padding-right: 20px;
}

.job-entry {
    border: 1px solid #333;
    border-left: 8px solid #13006b;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
}

.job-entry h2 {
    color: #333;
}

.job-entry .date-range {
    font-weight: 200;
    font-style: italic;
}

.job-logo {
    width: 100px;
    float: left;
}